In [1]:
import sqlalchemy, psycopg2

from sqlalchemy import create_engine, text
import pandas as pd

In [14]:
user = "user1"
passw = "1qazxsw2"
host = "localhost:8888"
db_name = "todolist"

In [15]:
engine = create_engine(f'postgresql+psycopg2://{user}:{passw}@{host}/{db_name}')

In [16]:
conn = engine.connect()

In [17]:
query = """
select * from tasks;
"""
task_df = pd.read_sql(text(query), conn)
task_df

  id what_to_do  complete due_date
0  2  pull ups?     False     None

In [18]:
query = """
select * from users;
"""
users_df = pd.read_sql(text(query), conn)
users_df

   uid last_name first_name
0    1         D       Nick
1    2     Wayne       John

In [19]:
query = "select what_to_do, due_date, complete from tasks;"

In [20]:
query = '''
SELECT tasks.*, users.last_name, users.first_name FROM tasks
LEFT JOIN users 
   ON tasks.id = CAST(users.uid AS varchar);
'''
all_df = pd.read_sql(text(query), conn)
all_df

  id what_to_do  complete due_date last_name first_name
0  2  pull ups?     False     None     Wayne       John

In [153]:
df = pd.read_sql(text(query), conn)
df

   uid last_name first_name
0    1         D       Nick
1    2     Wayne       John

In [67]:
df.T.to_dict()

{0: {'id': '1',
  'what_to_do': 'Homework!',
  'complete': False,
  'due_date': None},
 1: {'id': '1',
  'what_to_do': 'Sleep',
  'complete': False,
  'due_date': datetime.date(2024, 8, 6)}}

In [175]:
conn.close()

In [183]:
query = """
INSERT INTO tasks (id, what_to_do, due_date) VALUES
  ('2', 'PushUps', '8-Aug-2024');
"""
conn.execute(text(query))

In [184]:
query = """
INSERT INTO tasks (id, what_to_do) VALUES
  ('2', 'More PushUps' );
"""
conn.execute(text(query))

In [185]:
conn.commit()

In [83]:
query = """
INSERT INTO users (last_name, first_name) VALUES
  ('Wayne', 'John');
"""

In [84]:
conn.execute(text(query))

In [85]:
conn.commit()

In [47]:
!pip install psycopg2-binary

!pip install sqlalchemy

Requirement already satisfied: psycopg2-binary in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.9.9)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip